Python z bazą danych MySQL
ps. odkomentuj polecenia, gdy nie masz bibliotek.

In [1]:
# !python -m pip install mysql-connector-python

In [2]:
# !pip list

In [3]:
import mysql.connector

mydb = mysql.connector.connect( #w obiekcie mydb przechowujemy polaczenie z mysql
    host="localhost",
    user="root",
    password="root")

mycursor = mydb.cursor()
mycursor.execute("DROP DATABASE IF EXISTS mydatabase") # tu podajemy komendę SQL
mycursor.execute("CREATE DATABASE mydatabase")
mycursor.execute("SHOW DATABASES")

for x in mycursor:    #tutaj iterujemy po wyniku jaki otrzymal mycursor po wykonaniu komendy
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

In [4]:
mycursor.execute("USE mydatabase")

In [5]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

In [6]:
mycursor.execute("DROP TABLE IF EXISTS users")
mycursor.execute("CREATE TABLE users (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(15), email VARCHAR(25), points INT)")

In [7]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('users',)

In [8]:
mycursor.execute("DESCRIBE users")

for x in mycursor:
    print(x)

('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('name', b'varchar(15)', 'YES', '', None, '')
('email', b'varchar(25)', 'YES', '', None, '')
('points', b'int', 'YES', '', None, '')

In [9]:
sql = "INSERT INTO users (name,email, points) values(%s, %s, %s)" #?1, ?2, ?3  - wild cards
values = ("Zbyszek","zbycho@python.pl",0) 
# nawiasy tutaj oznaczają typ zmiennej jako tupl'a - lista immutable, zbiór którego zawartości nie mozna modyfikować.

mycursor.execute(sql, values)
mydb.commit() # pomimo wykonania execute() musimy zakomitować zmianę w bazie.
print(mycursor.rowcount, "record inserted")

1 record inserted

In [10]:
mycursor.execute("SELECT * FROM users")

for x in mycursor:
    print(x)

(1, 'Zbyszek', 'zbycho@python.pl', 0)

END

kod tylko do drukowania notebooka do HTML:

In [11]:
from IPython.display import Javascript
from nbconvert import HTMLExporter
import time

def save_notebook():
    display(
        Javascript("IPython.notebook.save_notebook()"),
        include=['application/javascript']
    )

def output_HTML(read_file, output_file):
    import codecs
    import nbformat
    exporter = HTMLExporter()
    # read_file is '.ipynb', db_python_mysql is '.html'
    output_notebook = nbformat.read(read_file, as_version=4)
    output, resources = exporter.from_notebook_node(output_notebook)
    codecs.open(output_file, 'w', encoding='utf-8').write(output)

save_notebook()
time.sleep(3)
current_file = 'db_python.ipynb'
output_file = 'db_python_mysql.html'
output_HTML(current_file, output_file)